.wrap {
    background: #f5f5f5;
    padding: 50px 80px;
}

.title {
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px; /* 118.519% */
    margin-bottom: 16px;
}
.subtitle {
    color: #282828;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    margin-bottom: 80px;
}

.styleSection {
    display: flex;
    gap: 40px;

    .left {
        .styleTitle {
            color: #ac5331;
            font-family: 'Proxima Nova';
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 52px; /* 130% */
            margin-bottom: 20px;
        }

        .mainStyleTitle {
            color: #ac5331;
            font-family: 'Proxima Nova';
            font-size: 54px;
            font-style: normal;
            font-weight: 500;
            line-height: 64px; /* 118.519% */
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
            margin-bottom: 32px;
        }

        .styleSubtitle {
            color: #282828;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 160% */
            margin-bottom: 16px;
        }

        .styleDescription {
            color: #282828;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin-bottom: 40px;
        }
    }
}
