@import '../../../../styles/breakpoints.scss';

.wrap {
    background: #f5f5f5;
    padding: 50px 80px;
    @include md {
        padding: 20px;
    }
}

.title {
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px; /* 118.519% */
    margin-bottom: 16px;

    @include md {
        color: #ac5331;
        text-align: center;
        font-family: 'Proxima Nova';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
    }
}
.subtitle {
    color: #282828;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    margin-bottom: 80px;
    @include md {
        color: #282828;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        margin-bottom: 32px;
    }
}

.styleSection {
    display: flex;
    gap: 100px;

    @include md {
        flex-direction: column;
        gap: 32px;
    }

    .left {
        flex: 1;
        .styleTitle {
            color: #ac5331;
            font-family: 'Proxima Nova';
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 52px; /* 130% */
            margin-bottom: 20px;

            @include md {
                color: #ac5331;
                font-family: 'Proxima Nova';
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px; /* 140% */
            }
        }

        .mainStyleTitle {
            color: #ac5331;
            font-family: 'Proxima Nova';
            font-size: 54px;
            font-style: normal;
            font-weight: 500;
            line-height: 64px; /* 118.519% */
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
            margin-bottom: 32px;

            @include md {
                color: #ac5331;
                font-family: 'Proxima Nova';
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px; /* 133.333% */
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: none;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                text-underline-position: from-font;
            }
        }

        .styleSubtitle {
            color: #282828;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 160% */
            margin-bottom: 16px;

            @include md {
                color: #282828;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
            }
        }

        .styleDescription {
            color: #282828;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin-bottom: 40px;

            @include md {
                color: #282828;
                font-family: Poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 166.667% */
            }
        }
    }

    .right {
        flex: 1;
    }
}
