.wrap {
    display: flex;
    flex-direction: column;
    padding: 80px;
    height: 100vh;
}

.title {
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 118.519% */
    margin-bottom: 32px;
}

.subtitle {
    color: #282828;
    max-width: 668px;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */

    span {
        color: #ac5331;
        font-family: 'Proxima Nova';
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 114.286% */
    }
    margin-bottom: auto;
}

.steps {
    display: flex;
    gap: 40px;
    margin-bottom: auto;
}

.cta {
    width: 195px;
    margin: 0 auto;
    border-radius: 100px;
    background: #ac5331;
    display: inline-flex;
    padding: 13px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}
