@use '../../styles/breakpoints.scss';

.wrap {
    display: flex;
    flex-direction: column;
    padding: 80px;
    height: 100vh;
    @include breakpoints.md {
        height: auto;
        padding: 20px;
    }
}

.title {
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 118.519% */
    margin-bottom: 32px;

    @include breakpoints.md {
        color: #ac5331;
        text-align: center;
        font-family: 'Proxima Nova';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 125% */
    }
}

.subtitle {
    color: #282828;
    max-width: 668px;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    margin-bottom: auto;

    @include breakpoints.md {
        color: #282828;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        margin-bottom: 40px;
    }

    span {
        color: #ac5331;
        font-family: 'Proxima Nova';
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 114.286% */
        @include breakpoints.md {
            color: #ac5331;
            font-family: 'Proxima Nova';
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
        }
    }
}

.steps {
    display: flex;
    gap: 40px;
    margin-bottom: auto;
    @include breakpoints.md {
        flex-direction: column;
        gap: 20px;
    }
}

.cta {
    cursor: pointer;
    width: 195px;
    margin: 0 auto;
    border-radius: 100px;
    background: #ac5331;
    display: inline-flex;
    padding: 13px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */

    &:hover {
        color: #fff;
        background: #94482a;
    }

    @include breakpoints.md {
        margin-top: 32px;
        color: #fff;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 133.333% */
    }
}
