.wrap {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 100% */
}

.btnBack {
  display: flex;
  background-color: transparent;
  max-width: 240px;
  white-space: nowrap;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #2c2c2c;
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btnNext {
  display: flex;
  width: 200px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #2c2c2c;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
