@import '../../../../../../styles/breakpoints.scss';

.totalRooms {
    margin-right: 0;
    color: #ac5331;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}
