@import '../../../../../../styles/breakpoints.scss';

.wrap {
    width: 100%;
    height: 100%;
}

.body {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    gap: 40px;

    @include md {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .left {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: start;
        flex: 0 0 50%;

        @include md {
            align-items: center;
            height: auto;
            flex: none;
        }
    }
    .right {
        flex: 1;
        overflow-y: auto;
        padding-right: 5px;
    }
}

.title {
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 130% */
    width: 390px;
    @include md {
        text-align: center;
        font-size: 24px;
        line-height: 32px; /* 133.333% */
    }
}

.subtitle {
    color: #282828;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */

    @include md {
        text-align: center;
        font-size: 14px;
        line-height: 20px; /* 142.857% */
    }
}

.footer {
    position: fixed;
    background: rgba(241, 235, 230, 0.8);
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    padding: 20px 80px;
    .btnBack,
    .btnNext {
        text-transform: uppercase;
        border-radius: 100px;
        border: 2px solid #ac5331;
        display: flex;
        padding: 13px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        color: #ac5331;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
    }

    .btnNext {
        background: #ac5331;
        color: #fff;
    }
}
