.wrap {
    display: flex;
    justify-content: center;
}
.list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.error {
    bottom: -30px;
    left: 0;
    position: absolute;
    color: #dc2626;
    text-align: center;
}
