.wrap {
    display: flex;
}
.list {
    display: flex;
    gap: 40px;
}

.error {
    bottom: -20px;
    left: 0;
    position: absolute;
    color: #dc2626;
    text-align: center;
    margin-top: 1rem;
}
