@import '../../../../../../../../styles/breakpoints.scss';
.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    @include md {
        justify-content: center;
    }
}
