.wrap {
  width: 100%;
  display: flex;
  flex: 1 1 0;
}

.item {
  cursor: pointer;
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-bottom: 1px solid #d1d5db;
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  &:hover {
    background: #f3f4f6;
  }
  &.active {
    border-bottom: 2px solid #2c2c2c;
  }
  &.done {
    color: #b52c10;
  }
}

.done {
  color: #b52c10;
}

.chevron {
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #2c2c2c;
  border-bottom: 1px solid #d1d5db;
  width: 64px;
  height: 58px;
  &.done {
    color: #b52c10;
  }
}
