@import '../../../../../styles/breakpoints.scss';

.wrap {
    width: 100%;
    height: 100%;
}

.body {
    display: flex;
    justify-content: space-between;
    height: 100%;
    @include md {
        flex-direction: column;
        padding-bottom: 20px;
        gap: 32px;
        min-height: 100vh;
    }

    .left {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: start;
        flex: 0 0 50%;

        @include md {
            align-items: center;
            height: auto;
            flex: 0 1 max-content;
            // flex: 0 0 50%;
            // flex: 1;
            justify-content: start;
        }
    }
    .right {
        flex: 1;
        overflow-y: auto;
        padding-right: 5px;
        padding-bottom: 90px;
        display: flex;
        align-items: center;

        @include md {
            justify-content: center;
            align-items: center;
            padding-bottom: 0px;
        }
    }
}

.title {
    max-width: 490px;
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 130% */
    margin-bottom: 16px;

    @include md {
        width: 290px;
        color: #ac5331;
        text-align: center;
        font-family: 'Proxima Nova';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
    }
}

.sectionTitle {
    margin-bottom: 12px;
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    margin-bottom: 16px;
}

.content {
    display: flex;
    flex-direction: column;
}

.section {
    max-width: 560px;
    margin-bottom: 64px;
    @include md {
        max-width: 100%;
    }
    &:last-child {
        margin-bottom: 90px;
    }
}
