@use '../../../../../../../../styles/breakpoints.scss';

.wrap {
    position: relative;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; // Центрує всі елементи, включаючи останній ряд
    gap: 40px;
    max-width: 560px;
    margin: 0 auto;

    // Щоб зберегти вигляд 3-х колонок
    & > * {
        flex: 0 1 calc(33.333% - 40px); // 33% мінус gap
        min-width: 140px; // Щоб картки не стискалися занадто сильно
    }
}

@include breakpoints.md {
    .grid > * {
        flex: 0 1 calc(50% - 20px); // 50% мінус gap
        gap: 20px;
        min-width: 140px; // Щоб картки не стискалися занадто сильно
    }
}
