@import '../../../../../../../../styles/breakpoints.scss';

.wrap {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 75rem;
    margin: 0 auto;

    @include md {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
