@use '../../../../../../styles/breakpoints.scss';

.wrap {
    width: 100%;
    height: 100%;
}

.body {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: 100%;

    @include breakpoints.md {
        flex-direction: column;
    }
    .content {
        width: 100%;
        align-self: center;
        position: relative;
    }
}

.title {
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 130% */
    width: 500px;
    margin-bottom: 16px;

    @include breakpoints.md {
        color: #ac5331;
        text-align: center;
        font-family: 'Proxima Nova';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
    }
}

.subtitle {
    color: #282828;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */

    @include breakpoints.md {
        color: #282828;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
    }
}
