.wrap {
    width: 100%;
    height: 100%;
}

.body {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    height: 100%;
    .content {
        width: 100%;
        align-self: center;
        position: relative;
    }
}

.title {
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 130% */
    width: 500px;
    margin-bottom: 16px;
}

.subtitle {
    color: #282828;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
