.wrap {
    width: 100%;
}

.body {
    display: flex;
    justify-content: space-between;
    .content {
        align-self: center;
    }
}

.title {
    width: 335px;
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 130% */
}

.subtitle {
    color: #282828;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 210px;
}

.input {
    color: #9ca3af;
    font-family: 'Proxima Nova';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */

    &:focus {
        outline: none;
        border-color: none;
    }

    &::placeholder {
        color: #9ca3af;
    }

    &Error {
        border-color: #ef4444;
    }
}

.errorMessage {
    color: #ef4444;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer {
    position: fixed;
    background: rgba(241, 235, 230, 0.8);
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    padding: 20px 80px;
    .btnBack,
    .btnNext {
        border-radius: 100px;
        border: 2px solid #ac5331;
        display: flex;
        padding: 13px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        color: #ac5331;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
    }
}

.greetingOverlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 24px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeIn 0.3s ease-in;
}

.greetingText {
    font-size: 2.5rem;
    font-weight: 600;
    color: #92400e;
    text-align: center;
    animation: scaleIn 0.5s ease-out;
}

.greetingIcon {
    width: 8rem;
    height: 8rem;
    animation: wave 2s ease-in-out 3; // 3 раза помахать
    transform-origin: 70% 70%; // Точка вращения внизу справа
}

@keyframes wave {
    0%,
    100% {
        transform: rotate(0deg);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate(14deg);
    }
    20%,
    40%,
    60%,
    80% {
        transform: rotate(-8deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
