@import '../../../../../styles/breakpoints.scss';

.overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 24px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeIn 0.3s ease-in;
    &Title {
        color: #ac5331;
        font-family: 'Proxima Nova';
        font-size: 54px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px; /* 118.519% */

        @include md {
            color: #ac5331;
            font-family: 'Proxima Nova';
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px; /* 125% */
        }
    }
    &Subtitle {
        color: #ac5331;
        text-align: center;
        font-family: 'Proxima Nova';
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 52px; /* 130% */

        @include md {
            color: #ac5331;
            text-align: center;
            font-family: 'Proxima Nova';
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px; /* 133.333% */
        }
    }
}
