@import url("./reset.css");
@import url("./fonts.css");
@import url("tailwindcss");
@import url("tw-animate-css");

@custom-variant dark (&:is(.dark *));

:root {
    /* Breakpoins */
    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    /* Common Variables */
    --color-bg-100: #f1ebe6;
    --color-primary: hsla(25deg, 88%, 52%, 1);
    --color-dark-900: hsla(180deg, 4%, 9%, 1);
    --color-dark-700: hsla(226.7deg, 10.6%, 16.7%, 1);
    --color-dark-600: hsla(225deg, 15%, 21%, 1);

    /* Focus Ring */
    --ring-width: 2px;
    --ring-color: var(--color-primary);
    --ring-offset-shadow: 0 0 0 0 var(--color-white-100);
    --ring-shadow: 0 0 0 var(--ring-width) var(--ring-color);

    /* Scroll Bar */
    --scrollbar-size: 4px;
    --scrollbar-track-color: transparent;
    --scrollbar-thumb-color: #ac5331;
    --scrollbar-border-radius: 100px;
    --scrollbar-thumb-color-hover: hsla(210deg, 11.2%, 51%, 1);

    /* Companies colors */
    --color-react: hsla(192.5deg, 95.1%, 68.2%, 1);
    --color-typescript: hsla(211.4deg, 60.3%, 48.4%, 1);
    --gradient-vite: linear-gradient(-45deg, hsla(280.7deg, 99%, 60%, 1) 0%, hsla(197.3deg, 100%, 63.9%, 1) 100%);
    --gradient-tanstack-router: linear-gradient(
        -45deg,
        hsla(83.7deg, 80.5%, 44.3%, 1) 0%,
        hsla(160.1deg, 84.1%, 39.4%, 1) 100%
    );

    /* Tailwind CSS Vars */
    --radius: 0.625rem;
    --background: oklch(100% 0 0deg);
    --foreground: oklch(14.5% 0 0deg);
    --card: oklch(100% 0 0deg);
    --card-foreground: oklch(14.5% 0 0deg);
    --popover: oklch(100% 0 0deg);
    --popover-foreground: oklch(14.5% 0 0deg);
    --primary: oklch(20.5% 0 0deg);
    --primary-foreground: oklch(98.5% 0 0deg);
    --secondary: oklch(97% 0 0deg);
    --secondary-foreground: oklch(20.5% 0 0deg);
    --muted: oklch(97% 0 0deg);
    --muted-foreground: oklch(55.6% 0 0deg);
    --accent: oklch(97% 0 0deg);
    --accent-foreground: oklch(20.5% 0 0deg);
    --destructive: oklch(57.7% 0.245 27.325deg);
    --border: oklch(92.2% 0 0deg);
    --input: oklch(92.2% 0 0deg);
    --ring: oklch(70.8% 0 0deg);
    --chart-1: oklch(64.6% 0.222 41.116deg);
    --chart-2: oklch(60% 0.118 184.704deg);
    --chart-3: oklch(39.8% 0.07 227.392deg);
    --chart-4: oklch(82.8% 0.189 84.429deg);
    --chart-5: oklch(76.9% 0.188 70.08deg);
    --sidebar: oklch(98.5% 0 0deg);
    --sidebar-foreground: oklch(14.5% 0 0deg);
    --sidebar-primary: oklch(20.5% 0 0deg);
    --sidebar-primary-foreground: oklch(98.5% 0 0deg);
    --sidebar-accent: oklch(97% 0 0deg);
    --sidebar-accent-foreground: oklch(20.5% 0 0deg);
    --sidebar-border: oklch(92.2% 0 0deg);
    --sidebar-ring: oklch(70.8% 0 0deg);
}

body {
    font-family: "Poppins", sans-serif;
    background: #f1ebe6;
}

.sr-only {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border-width: 0;
}

.full-height {
    min-height: 100vh;
    min-height: 100svh;
}

.justify-start {
    justify-content: flex-start !important;
}

.align-center {
    align-items: center !important;
}

.focus-primary:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow:
        var(--ring-offset-shadow),
        var(--ring-shadow),
        0 0 rgba(0, 0, 0, 0);
}

.focus-primary:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow:
        var(--ring-offset-shadow),
        var(--ring-shadow),
        0 0 rgba(0, 0, 0, 0);
}

.focus-within-primary:focus-within {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow:
        var(--ring-offset-shadow),
        var(--ring-shadow),
        0 0 rgba(0, 0, 0, 0);
}

.focus-primary:focus:not(.focus-primary:focus-visible) {
    --ring-width: 0;

    outline: none;
    box-shadow: none;
}

.focus-primary-child {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow:
        var(--ring-offset-shadow),
        var(--ring-shadow),
        0 0 rgba(0, 0, 0, 0);
}

@media (hover: hover) and (pointer: fine) {
    *::-webkit-scrollbar {
        width: var(--scrollbar-size);
        height: var(--scrollbar-size);
        border-radius: var(--scrollbar-border-radius);
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-thumb-color-hover);
        border-color: var(--scrollbar-thumb-color-hover);
    }

    *::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
        border-radius: 6px;
        border: 4px solid var(--scrollbar-thumb-color);
    }
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
    --background: oklch(14.5% 0 0deg);
    --foreground: oklch(98.5% 0 0deg);
    --card: oklch(20.5% 0 0deg);
    --card-foreground: oklch(98.5% 0 0deg);
    --popover: oklch(20.5% 0 0deg);
    --popover-foreground: oklch(98.5% 0 0deg);
    --primary: oklch(92.2% 0 0deg);
    --primary-foreground: oklch(20.5% 0 0deg);
    --secondary: oklch(26.9% 0 0deg);
    --secondary-foreground: oklch(98.5% 0 0deg);
    --muted: oklch(26.9% 0 0deg);
    --muted-foreground: oklch(70.8% 0 0deg);
    --accent: oklch(26.9% 0 0deg);
    --accent-foreground: oklch(98.5% 0 0deg);
    --destructive: oklch(70.4% 0.191 22.216deg);
    --border: oklch(100% 0 0deg / 0.1);
    --input: oklch(100% 0 0deg / 0.15);
    --ring: oklch(55.6% 0 0deg);
    --chart-1: oklch(48.8% 0.243 264.376deg);
    --chart-2: oklch(69.6% 0.17 162.48deg);
    --chart-3: oklch(76.9% 0.188 70.08deg);
    --chart-4: oklch(62.7% 0.265 303.9deg);
    --chart-5: oklch(64.5% 0.246 16.439deg);
    --sidebar: oklch(20.5% 0 0deg);
    --sidebar-foreground: oklch(98.5% 0 0deg);
    --sidebar-primary: oklch(48.8% 0.243 264.376deg);
    --sidebar-primary-foreground: oklch(98.5% 0 0deg);
    --sidebar-accent: oklch(26.9% 0 0deg);
    --sidebar-accent-foreground: oklch(98.5% 0 0deg);
    --sidebar-border: oklch(100% 0 0deg / 0.1);
    --sidebar-ring: oklch(55.6% 0 0deg);
}
