.wrap {
    background: #fff;
    padding: 50px 80px;
}

.title {
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px; /* 130% */
    margin-bottom: 16px;
}

.subtitle {
    color: #282828;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 32px;
}

.content {
    display: flex;
    gap: 40px;
}

.designer {
    flex: 1;
    display: flex;
    gap: 20px;

    .img {
        width: 240px;
        height: 320px;
        flex-shrink: 0;
        aspect-ratio: 3/4;
    }

    .about {
        display: flex;
        flex-direction: column;
        width: 320px;
        .name {
            color: #282828;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 160% */
        }
        .position {
            color: #282828;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin-bottom: 16px;
        }

        .description {
            color: #282828;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
        }
    }

    .images {
    }
}

.images {
    flex: 1;
}
