.list {
    padding-bottom: 100px;
}

.image {
    position: relative;
    &Selected {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        width: 30px;
        height: 30px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;

        color: #fff;

        border-radius: 100px;
        background: #ac5331;
    }
}

.loader {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 90px;
    &Circle {
        color: #ac5331 !important;
    }
}
