@import '../../../../../../styles/breakpoints.scss';

.wrap {
    width: 100%;
    height: 100%;
}

.body {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    height: 100%;
    @include md {
        flex-direction: column;
        padding-bottom: 20px;
    }
    .content {
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include md {
            align-items: center;
            height: auto;
            flex: none;
        }
    }
}

.title {
    color: #ac5331;
    max-width: 400px;
    font-family: 'Proxima Nova';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 130% */
}

.subtitle {
    color: #282828;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.totalRooms {
    margin-right: 0;
    color: #ac5331;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}
