@import '../../../../../../styles/breakpoints.scss';

.title {
    color: #ac5331;
    max-width: 375px;
    font-family: 'Proxima Nova';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 130% */
    margin-bottom: 16px;

    @include md {
        width: 100%;
        color: #ac5331;
        text-align: center;
        font-family: 'Proxima Nova';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
    }
}

.totalRooms {
    margin-right: 0;
    color: #ac5331;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}
