@import '../../../../../../styles/breakpoints.scss';

.wrap {
    width: 100%;
    height: 100%;
}

.body {
    display: flex;
    justify-content: space-between;
    height: 100%;
    @include md {
        flex-direction: column;
    }
    .content {
        align-self: center;
    }

    .right {
        flex: 1;
    }
}

.title {
    width: 435px;
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 130% */

    @include md {
        color: #ac5331;
        text-align: center;
        font-family: 'Proxima Nova';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
    }
}

.subtitle {
    color: #282828;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-self: center;
}

.optionButton {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 20px;
    border-radius: 100px;
    border: 1px solid #282828;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        border-color: #ac5331;
        background: rgba(172, 83, 49, 0.05);
    }

    &Selected {
        background: #282828;
        border-color: #282828;

        .optionLabel {
            color: #fff;
        }

        .infoIcon {
            color: #fff;
            &Selected {
                color: #fff;
                fill: #fff;
            }
        }

        &:hover {
            background: #3a3a3a;
            border-color: #3a3a3a;
        }
    }
}

.optionLabel {
    color: #282828;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    transition: color 0.3s ease;
}

.infoIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #282828;
    transition: color 0.3s ease;
    margin-left: auto;
}

.tooltipText {
    width: 490px;
    display: flex;
    gap: 8px;
    padding: 20px;
    align-items: flex-start;
    gap: 8px;

    border-radius: 20px;
    border: 1px solid #282828;
    background: #fff;

    color: #282828;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    span {
        width: 100%;
    }

    svg {
        cursor: pointer;
    }
}
