@use '../../../../../../styles/breakpoints.scss';

.content {
    display: flex;
    align-items: center;
    height: 100%;

    @include breakpoints.md {
        justify-content: center;
    }
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-self: center;
}

.optionButton {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 20px;
    border-radius: 100px;
    border: 1px solid #282828;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        border-color: #ac5331;
        background: rgba(172, 83, 49, 0.05);
    }

    &Selected {
        background: #282828;
        border-color: #282828;

        .optionLabel {
            color: #fff;
        }

        .infoIcon {
            color: #fff;
            &Selected {
                color: #fff;
                fill: #fff;
            }
        }

        &:hover {
            background: #3a3a3a;
            border-color: #3a3a3a;
        }
    }
}

.optionLabel {
    color: #282828;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    transition: color 0.3s ease;
}

.infoIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #282828;
    transition: color 0.3s ease;
    margin-left: auto;
}

.tooltipText {
    width: 490px;
    display: flex;
    gap: 8px;
    padding: 20px;
    align-items: flex-start;
    gap: 8px;

    border-radius: 20px;
    border: 1px solid #282828;
    background: #fff;

    color: #282828;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    span {
        width: 100%;
    }

    svg {
        cursor: pointer;
    }
}
