@use '../../../../../styles/breakpoints.scss';

.wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    @include breakpoints.md {
        gap: 12px;
    }
}

.icon {
    svg {
        @include breakpoints.md {
            width: 40px;
            height: 40px;
        }
    }
}

.title {
    text-align: center;
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 140% */
    margin-bottom: 8px;

    @include breakpoints.md {
        color: #ac5331;
        font-family: 'Proxima Nova';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
    }
}

.description {
    text-align: center;
    color: #282828;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

    @include breakpoints.md {
        color: #282828;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 166.667% */
    }
}
