@import "./../../../../../assets/styles/global.scss";
.wrap {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  @include md {
    max-width: 100%;
    height: calc(100vh - $ui-3d--header-height-mob);
    height: auto;
    position: static;
    position: relative;
  }
}

.playerWrap {
  width: 100%;
  height: 79%;
  position: relative;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  //   @include md {
  //     max-width: 100%;
  //     height: calc(100vh - $ui-3d--header-height-mob);
  //     height: auto;
  //     position: static;
  //     position: relative;
  //   }
}

.content {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}

.image {
  object-fit: contain;
  background-color: #fff;
}

.footer {
  display: flex;
  padding: 16px 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-top: 1px solid #d1d5db;
  background: #fff;
}

.subtotal {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.btnCheckout {
  border-radius: 100px;
  background: #2c2c2c;
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.configurator {
  display: flex;
  height: 100%;
}
