.cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 4px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;

    //Повернути якщо буде потрібно
    // &:hover {
    //     transform: scale(1.02);
    // }

    &Selected {
        border-color: #92400e;
    }
}

.cardIcon {
    color: #374151;
    margin-bottom: 0.5rem;
}

.cardLabel {
    color: #111827;
    font-weight: 500;
}

.counter {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.counterButton {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4b5563;
    font-size: 1.25rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover:not(:disabled) {
        color: #111827;
    }

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

.counterValue {
    font-size: 1.25rem;
    font-weight: 500;
    color: #111827;
    width: 2rem;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    max-width: 75rem;
    margin: 3rem auto 0;
}

.submitButton {
    background-color: #92400e;
    color: #ffffff;
    font-weight: 600;
    padding: 1rem 3rem;
    border-radius: 9999px;
    font-size: 1.125rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #78350f;
    }
}
