.cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;

    border-radius: 100px;
    border: 2px solid #e5e6ea;
    background: #fff;

    transition: all 0.3s ease;
    cursor: pointer;

    //Повернути якщо буде потрібно
    // &:hover {
    //     transform: scale(1.02);
    // }

    &Selected {
        border-color: #92400e;
    }
}

.cardIcon {
    color: #374151;
}

.cardLabel {
    max-width: 70px;
    color: #282828;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    text-transform: capitalize;
}

.counter {
    display: flex;
    align-items: center;
    gap: 8px;
    visibility: visible;
    height: 40px;

    &Hidden {
        visibility: hidden;
    }
}

.counterButton {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4b5563;
    font-size: 1.25rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover:not(:disabled) {
        color: #111827;
    }

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

.counterValue {
    color: #282828;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}
