@import '../../styles/breakpoints.scss';

.wrap {
    display: flex;
    flex-direction: column;
    padding: 80px;
    height: 100vh;

    @include md {
        height: auto;
        padding: 20px;
    }
}

.header {
    padding: 80px;
    background-size: cover;
    background-position: center;
    @include md {
        padding: 20px;
    }
}

.title {
    color: #fff;
    font-family: 'Proxima Nova';
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px; /* 118.519% */
    margin-bottom: 32px;
    @include md {
        color: #fff;
        text-align: center;
        font-family: 'Proxima Nova';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 112.5% */
    }
}

.subtitle {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */

    @include md {
        color: #fff;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

    span {
        color: #ac5331;
        font-family: 'Proxima Nova';
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 114.286% */
    }
}

.label {
    padding-top: 80px;
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px; /* 130% */
    margin-bottom: 32px;

    @include md {
        color: #ac5331;
        font-family: 'Proxima Nova';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
        text-align: center;
        margin-bottom: 20px;
    }
}

.steps {
    display: flex;
    gap: 40px;
    margin-bottom: auto;
    justify-content: space-between;
    @include md {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.step {
    width: 290px;
    text-align: center;
}

.suggest {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    align-self: stretch;

    @include md {
        padding: 20px;
    }

    .title {
        width: 690px;
        color: #ac5331;
        font-family: 'Proxima Nova';
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 52px; /* 130% */
        @include md {
            width: auto;
            color: #ac5331;
            text-align: center;
            font-family: 'Proxima Nova';
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px; /* 140% */
        }
        span {
            color: #ac5331;
            font-family: 'Proxima Nova';
            font-size: 40px;
            font-style: italic;
            font-weight: 500;
            line-height: 52px;

            @include md {
                color: #ac5331;
                font-family: 'Proxima Nova';
                font-size: 20px;
                font-style: italic;
                font-weight: 600;
                line-height: 28px;
            }
        }
    }

    .products {
        display: flex;
        gap: 20px;
        width: 100%;
        overflow-x: auto;
        padding-bottom: 5px;

        @include md {
            flex-wrap: wrap;
        }

        @include xs {
            flex-direction: column;
        }

        .item {
            min-width: 240px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 240px;
            @include md {
                width: 100%;
                flex: 1 0 calc(50% - 20px);
            }

            .image {
                display: flex;
                padding: 20px;
                height: 240px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                aspect-ratio: 1/1;
                border-radius: 5px;
                background: #f1ebe6;
            }

            .itemTitle {
                color: #282828;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
            }
        }
    }
}
