.wrap {
    display: flex;
    flex-direction: column;
    padding: 80px;
    height: 100vh;
}

.title {
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 118.519% */
    margin-bottom: 32px;
}

.subtitle {
    color: #282828;
    max-width: 668px;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */

    span {
        color: #ac5331;
        font-family: 'Proxima Nova';
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 114.286% */
    }
    margin-bottom: auto;
}

.label {
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px; /* 130% */
    margin-bottom: 32px;
}

.steps {
    display: flex;
    gap: 40px;
    margin-bottom: auto;
    justify-content: space-between;
}

.step {
    width: 290px;
    text-align: center;
}

.suggest {
    background: #fff;
    display: flex;
    padding: 50px 80px;
    align-items: center;
    align-self: stretch;

    .title {
        width: 690px;
        color: #ac5331;
        font-family: 'Proxima Nova';
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 52px; /* 130% */
        span {
            color: #ac5331;
            font-family: 'Proxima Nova';
            font-size: 40px;
            font-style: italic;
            font-weight: 500;
            line-height: 52px;
        }
    }
}
