@import '../../../../../styles/breakpoints.scss';

.footer {
    position: fixed;
    background: rgba(241, 235, 230, 0.8);
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    padding: 20px 80px;

    @include md {
        padding: 20px;
    }

    .nextWrap {
        display: flex;
        align-items: center;
        gap: 32px;
        @include md {
            gap: 16px;
        }
    }

    .btnBack,
    .btnNext {
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 100px;
        border: 2px solid #ac5331;
        display: flex;
        padding: 13px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        color: #ac5331;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */

        @include md {
            padding: 12px 20px;
        }

        &.disabled {
            cursor: not-allowed;
            background: #cbb6ae;
            border: 2px solid #cbb6ae;
            color: #fff;
        }
    }

    .btnNext {
        background: #ac5331;
        color: #fff;
    }
}
