@import '../../styles/breakpoints.scss';

.wrap {
    background-color: var(--color-bg-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    padding-bottom: 90px;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @include md {
        padding: 20px;
        padding-bottom: 90px;
    }
}
