@import '../../../../../../styles/breakpoints.scss';

.wrap {
    width: 100%;
    height: 100%;
}

.body {
    display: flex;
    justify-content: space-between;
    height: 100%;

    @include md {
        flex-direction: column;
    }
    .content {
        align-self: center;
        @include md {
            flex: 1;
        }
    }
}

.title {
    width: 335px;
    color: #ac5331;
    font-family: 'Proxima Nova';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 130% */

    @include md {
        color: #ac5331;
        text-align: center;
        font-family: 'Proxima Nova';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
    }
}

.subtitle {
    color: #282828;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */

    @include md {
        color: #282828;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
    }
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 210px;
}

.input {
    color: #9ca3af;
    font-family: 'Proxima Nova';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */

    &:focus {
        outline: none;
        border-color: none;
    }

    &::placeholder {
        color: #9ca3af;
    }

    &Error {
        border-color: #ef4444;
    }
}
