@import '../../../../../../styles/breakpoints.scss';

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 210px;

    @include md {
        padding: 0;
    }
}

.input {
    color: #9ca3af;
    font-family: 'Proxima Nova';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */

    &:focus {
        outline: none;
        border-color: none;
    }

    &::placeholder {
        color: #9ca3af;
    }

    &Error {
        border-color: #ef4444;
    }
}
