.wrap {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 75rem;
    margin: 0 auto;
}

.error {
    bottom: -20px;
    left: 0;
    position: absolute;
    color: #dc2626;
    text-align: center;
    margin-top: 1rem;
}
